.column {
  float:left;
  text-align: center;
}

.column h3 {
  color: green;
}

h3 {
  font-style: italic;
}


img {
  height: 200px;
  width: 200px;
  transition-duration: 2s;

}

.column img {
 box-shadow: 5px 8px grey;
 margin: 15px;
}


h1 {
  text-align: center;
}

.center {
  width: 1200px;
  margin: 0 auto;
}

p {
  width:200px;
}

/* Media Queries */

@media screen and (max-width: 481px) {
  p {
    display: none;
    transition-duration: 2s;

  }
  .column {
    background-color: #F8F8F8;
    padding: 10px;
    margin: 10px;
    transition-duration: 2s;

  }

  .center {
    width: 100%;
  }

  img {
    height: 300px;
    width: 300px;
    transition-duration: 2s;

  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 16px;
  }

p.description {
  display: none;
}
}

@media screen and (min-width: 1000px) {
.center {

}

img.fran {
  height: 500px;
  width: 500px;
  transition-duration: 2s;
}
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    text-align: left;
  }

img {
  -webkit-filter: grayscale(1);
  width: 70px;
  height: 70px;
  float: left;
  padding: none;
}

.column {
  float: none;
}

p {
  width: auto;
}

}
